html {
    background-image: url(home_pic.png);
    background-size: cover;
}

body {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}


.page-button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px;
    text-decoration: none;
    margin: 15px 0;
    transition: background-color 200ms ease-in-out;
    font-size: 30px;
    color: black;
    position: fixed;
    left: 20px;
    bottom: 0;
}

.page-button:hover {
    background-color: #EEEEEE;
    color: blue;
}